BasedOnStyle: Google
ColumnLimit : 110
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
DerivePointerAlignment: false # disables 'Google' option which forces ignoring my rules
PointerAlignment: Left
ReferenceAlignment: Left
InsertNewlineAtEOF: true
IndentPPDirectives: BeforeHash
